{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}

{% block main_section %}
    <div class="form-section">
        <h2>You logouted</h2>

        <a href="{% url 'user' %}">Login to your cabinet already</a>
    </div>
{% endblock main_section%}

{% block aside_news_section %}
    <h3><b>TOP games for programers</b></h3>
    <img src="https://static.metacritic.com/images/products/games/5/9031e87b866ecea7a1b2f35cd5488263-98.jpg" class="img-thumbnail">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, sed.</p>
    <a href="https://www.metacritic.com/game/pc" target="_blank">
        <button class="btn btn-warning">Review</button>
    </a>
{% endblock aside_news_section%}